body {
    margin: 0;
}

#screen {
    aspect-ratio: 16 / 9;

    display: grid;
    grid-template: 100% / 100%;
}

#game {
    grid-area: 1 / 1;
       
    display: grid;
    grid-template: 100% / 100%;
}

#game_background {
    grid-area: 1 /1;
    
    background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
     grid-area: 1 /1;
     overflow: hidden;
     position: relative;
}

/* positioning elements */

#coin1_container {
    position: absolute;
    
    top: 0vw;
    left: 10vw;
}

#coin1_sprite {
    width: 100%;   
}


#coin2_container {
    position: absolute;
    
    top: 0vw;
    left: 40vw;
}

#coin2_sprite {
    width: 100%;
}


#coin3_container {
    position: absolute;
    
    top: 0vw;
    left: 70vw;
}

#coin3_sprite {
    width: 100%;
}


#bomb_container {
    position: absolute;
    
    top: 0vw;
    left: 30vw;
}

#bomb_sprite {
    width: 100%;
}



#heart_container {
    position: absolute;
    
    top: 45vw;
    left: 55vw;
}

#heart_sprite {
    width: 100%;
}

/* Animations */

.falling {
    animation-name: falling;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes falling {
    0% {
        transform: translate(0,-100%);
    }

    100% {
        transform: translate(0,56.25vw);
    }
    
}

.zoom_out {
    animation-name: zoom_out;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_out {
    0% {
        scale: 100%;
    }
    100% {
        scale: 0%;
    }
} 

.zoom_in {
    animation-name: zoom_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    image-rendering: pixelated
}

.paused {
    animation-play-state: paused;
}





















